<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.ex02.MessageMapper">
	
	<!-- 메시지 생성 -->
	<insert id="create">
		insert into tbl_message
			(m_id, targetid, sender, message)
		values 
			(seq_message_id.nextval, #{targetid}, #{sender}, #{message})
	</insert>
	
	<!-- 메시지 읽기 -->
	<select id="readMessage" resultType="MessageVo">
		select * from tbl_message
		where m_id = #{m_id}
	</select>
	
	<!-- 메시지 읽은 날짜 설정 -->
	<update id="updateState">
		update tbl_message
		set opendate = sysdate
		where m_id = #{m_id}
	</update>
	
	<!-- 읽지 않은 메시지 개수 -->
	<select id="countUnreadMessage" resultType="int">
		select count(*) from tbl_message
		where targetid = #{targetid}
		and opendate is null;
	</select>
	
</mapper>